// COLORS
$primary: #e3d5ca;
$primary-alt: #d6ccc2;
$secondary: #d5bdaf;
$text: #2f3e46;
$body: #f5ebe0;

// SIZES
$xxl: 3rem;
$xl: 2rem;
$l: 1.5rem;
$m: 1rem;
$s: 0.75rem;
$xs: 0.5rem;
$xxs: 0.25rem;
